{% load i18n sizeformat parse_date %}
{% load url from future %}

<div class="info row-fluid detail">
  <h3>{% trans "Information" %}</h3>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Federated network id" %}</dt>
    {{ federatednetwork.id }}
  </dl>
  <dl>
    <dt>{% trans "Label" %}</dt>
    {{ federatednetwork.label }}
  </dl>
  <dl>
    <dt>{% trans "CIDR" %}</dt>
    {{ federatednetwork.cird }}
  </dl>
  <dl>
    <dt>{% trans "Allowed Members" %}</dt>
    {{ federatednetwork.allowed_members }}
  </dl>
  <dl>
    <dt>{% trans "State" %}</dt>
    {{ federatednetwork.state }}
  </dl>    
</div>
