{% load i18n %}
{% load i18n branding %}
{% load url from future %}
<div id="user_info" class="pull-right">
  <style>
  
	span.p {
	    background:#F8F8F8;
	    border: 5px solid #DFDFDF;
	    color: #717171;
	    font-size: 13px;
	    height: 30px;
	    letter-spacing: 1px;
	    line-height: 30px;
	    position: relative;
	    text-align: center;
	    top: 35px;
	    left: 35%;
	    display:none;
	    padding:0 20px;    
	}
	
	span.p:after {
		float:right;
	    content:'';
	    position:absolute;
	    bottom:25px; 
	    width:10px;
	    height:10px;
	    border-bottom:5px solid #dfdfdf;
	    border-right:5px solid #dfdfdf;
	    background:#f8f8f8;
	    left:50%;
	    margin-left:-10px;
	    -moz-transform:rotate(225deg);
	    -webkit-transform:rotate(225deg);
	    transform:rotate(225deg);
	}
	
	b.p{
	    margin:0px;
	    position:relative;
	    cursor:pointer;
	}
	
	b.p:hover span.p{
	    display:block;
	    float:left;
	}
  
  </style>
  <span>Logged in <b class="p"> {{ request.user.manager_xmpp_jid }} </b> as: <b class="p"> {{ request.user.id }} <span class="p"> ID : {{ request.user.userId }}</span> </b></span>
  <a href="{% url 'horizon:settings:user:index' %}">{% trans "Settings" %}</a>
  {% if HORIZON_CONFIG.help_url %}
  <a href="{{ HORIZON_CONFIG.help_url }}" target="_new">{% trans "Help" %}</a>
  {% endif %}
  <a href="{% url 'logout' %}" >{% trans "Sign out" %}</a>
  {% include "horizon/common/_region_selector.html" %}
</div>
