.details {
    padding: 15px;
    margin-left: 15px;
    margin-top: 20px;
    border: 1px #dddddd solid;
}

.bolder {
    font-weight: bold;
}

.public-key {
  font-size: 0.8em;
  font-family: monospace;
}

h2 {
    line-height: 27px;
    font-size: 1.2em;
}

h3 {
   font-size: 1.1em
}

p {
    font-size: 0.8em;
}
