.login-form {
    color: white;
    background-color: #474747;

    margin-top: 5.5%;
    width: 390px;
    
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #e1e1e1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px 15px;
}

.login-form .image {
    margin-left: 32%;    
}

.login-form h3 {
    line-height: 27px;
    font-size: 18px;

    font-weight: bold;
    text-rendering: optimizelegibility;
    font-family: 'ApercuLight', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-form label {
    font-size: 14px;
}

.login-form hr {
    border-top: 1px solid #ccc;
}

.form-footer {
    padding: 10px 0px;
    background-color: #c1c1c1;
    width: 390px;
    
    margin-left: auto;
    margin-right: auto;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.form-footer .submit {
    margin-left: 80%;
    font-weight: 400;
    font-size: 13px;
    padding: 4px 10px;
    background-color: #006ccc;
}