.modal {
    font-size: 14px;
}

.form-inline label {
    justify-content: left;
}

.form-control {
    margin-bottom: 15px;
}

.error-message {
    background-color: #ff7272;
    color: white;
    padding: 1em;
  }