.sidebar {
    color: #ccc;
    background-color: #474747;
    width: 230px;
}

.sidebar .image {
    margin-left: 18%;
    margin-bottom: 100px;
}

.sidebar .federation-label {
    color: #555555;
    font-size: 14px;
    background-color: #ddd;
    width: 90px;
    padding: 5px 3px;
    text-align: center;
    margin-bottom: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.sidebar hr {
    border-top: 1px solid #ccc;
    margin-top: 0px;
}

.sidebar .links {
    padding-left: 10px;
}

.links p {
    margin-bottom: 5px;
}

.links li {
    padding: 8px 0px;
}