{% load i18n sizeformat parse_date %}
{% load url from future %}

<div class="info row-fluid detail">
  <h3>{% trans "Information" %}</h3>
  <hr class="header_rule">
  <dl >
    <dt>{% trans "Order ID" %}</dt>
    {{ request.requestId }}
  </dl>
  <dl>
    <dt>{% trans "Requirements" %}</dt>
    {{ request.requirements }}
  </dl>
  <dl>
    <dt>{% trans "Type" %}</dt>
    {{ request.type }}
  </dl>
  <dl>
    <dt>{% trans "State" %}</dt>
    {{ request.state }}
  </dl>
  <dl>
    <dt>{% trans "Valid from" %}</dt>
    {{ request.validFrom }}
  </dl>
  <dl>
    <dt>{% trans "Valid until" %}</dt>
    {{ request.validUntil }}
  </dl>
  <dl>
    <dt >{% trans "Resource kind" %}</dt>
    {{ request.resourceKind }}
  </dl>       
  <dl type="compute">
    <dt>{% trans "Image" %}</dt>
    {{ request.image }}
  </dl>
  <dl type="storage">
    <dt>{% trans "Volume size (in GB)" %}</dt>
    {{ request.size }}
  </dl>     
  <dl>
    <dt>{% trans "Instance ID" %}</dt>
    {{ request.instanceId }}
  </dl>
  <dl type="compute">
    <dt>{% trans "Network ID" %}</dt>
    {{ request.networkid }}
  </dl>        
  <dl type="compute">
    <dt>{% trans "SSH public key" %}</dt>
    <pre>{{ request.ssh }}</pre> 
  </dl>   
  <dl type="compute">
    <dt >{% trans "Userdata content type" %}</dt>
    {{ request.extraUserdataContentType }}
  </dl>
  <dl type="compute">
    <dt>{% trans "Userdata" %}</dt>
    <pre>{{ request.extraUserdata }}</pre>   
  </dl>
    
  <dl type="network">
    <dt>{% trans "CIDR" %}</dt>
    {{ request.address }} 
  </dl> 
  <dl type="network">
    <dt>{% trans "Gateway" %}</dt>
    {{ request.gateway }}   
  </dl> 
  <dl type="network">
    <dt>{% trans "Allocation" %}</dt>
    {{ request.allocation }} 
  </dl>     
    
  
  
  <input id="input" value="{{ request.resourceKind }}" style="visibility: hidden;">                 
</div>

<script src="../../../static/dashboard/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript">

	$(document).ready(function() {
		resourceKind = $('#input').val().trim();
		hideFields(resourceKind, '');
	});
	
	function hideFields(resourceKind, transition) {
		if (resourceKind == "compute") {
			//show
			$("dl[type='compute']").show(transition);			
			// hide
			$("dl[type='storage']").hide(transition);
			$("dl[type='network']").hide(transition);
		} else if (resourceKind == 'storage') {
			console.log('storage');
			//show
			$("dl[type='storage']").show(transition);
			//hide
			$("dl[type='compute']").hide(transition);						
			$("dl[type='network']").hide(transition);
		} else if (resourceKind == 'network') {
			console.log('network');
			//show
			$("dl[type='network']").show(transition);
			//hide
			$("dl[type='compute']").hide(transition);
			$("dl[type='storage']").hide(transition);
		}
		
	}
	
</script>

