{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
{% if form.non_field_errors %}
  <div class="alert alert-message alert-error">
    {{ form.non_field_errors }}
  </div>
{% endif %}
{% for field in form.visible_fields %}
	
  {% if 'hidden' in field.label_tag %}
  <div class="control-group form-field clearfix{% if field.errors %} error{% endif %} {{ field.css_classes }}" style="visibility: hidden; display: none;">
  {% endif %}
  {% if 'hidden' not in field.label_tag %}
  <div class="control-group form-field clearfix{% if field.errors %} error{% endif %} {{ field.css_classes }}">
  {% endif %}
    {{ field.label_tag }}
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-inline">{{ error }}</span>
      {% endfor %}
    {% endif %}
    {% comment %}
    Escape help_text a second time here, to avoid an XSS issue in bootstrap.js.
    This can most likely be removed once we upgrade bootstrap.js past 2.0.2.
    Note: the spaces are necessary here.
    {% endcomment %}
    <span class="help-block">{% filter force_escape %} {{ field.help_text }} {% endfilter %} </span>
    <div class="input">
      {{ field }}
    </div>
  </div>
{% endfor %}

<script type="text/javascript">

  (function(){	

    $(document).ready(function() {
      let member = $("#id_members").val()
      showResourcesFields(member);
    });    

    function showComputeFields(member) {
      var imageIdEl = $('#id_compute');

      let url = window.location.origin.concat('/fogbow/attachment', '/computes')
      fetch(url, { method: 'GET', credentials: 'include'})
			.then(res => {        
				if (!res.ok) {
					throw Error(response.statusText);
				}
        
				res.text().then(body => { 
          imageIdEl.find('option').remove();
          imageIdEl.append($('<option>', { text: "Choose a compute" }));

					let body_json_str = JSON.parse(body);
          let body_json = JSON.parse(body_json_str);
          
          body_json.forEach(element => {
            if (element.provider == member) {
              imageIdEl.append($("<option>", { text: element.instanceId }));
            }
          });          
				})
			})
			.catch(function(error) {
				alert('Is is not possible to get the computes: ' + memberId);
        imageIdEl.find('option').remove();
				console.log(error);
			});
    }

    function showVolumeFields(member) {
      var imageIdEl = $('#id_volume');

      let url = window.location.origin.concat('/fogbow/attachment', '/volumes')
      fetch(url, { method: 'GET', credentials: 'include'})
			.then(res => {        
				if (!res.ok) {
					throw Error(response.statusText);
				}
        
				res.text().then(body => {
          imageIdEl.find('option').remove();
          imageIdEl.append($('<option>', { text: "Choose a volume" }));

					let body_json_str = JSON.parse(body);
          let body_json = JSON.parse(body_json_str);

          body_json.forEach(element => {
            if (element.provider == member) {
              imageIdEl.append($("<option>", { text: element.instanceId }));
            }
          });          
				})
			})
			.catch(function(error) {
				alert('Is is not possible to get the volumes: ' + memberId);
        imageIdEl.find('option').remove();
				console.log(error);
			});
    }

    function showResourcesFields(member) {
      showComputeFields(member)
      showVolumeFields(member);
    }

    $('#id_members').change(function () {
      let member = $("#id_members").val();
      showResourcesFields(member)
    });

  })();
  
</script>