{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
{% if form.non_field_errors %}
  <div class="alert alert-message alert-error">
    {{ form.non_field_errors }}
  </div>
{% endif %}
{% for field in form.visible_fields %}
	
  {% if 'hidden' in field.label_tag %}
  <div class="control-group form-field clearfix{% if field.errors %} error{% endif %} {{ field.css_classes }}" style="visibility: hidden; display: none;">
  {% endif %}
  {% if 'hidden' not in field.label_tag %}
  <div class="control-group form-field clearfix{% if field.errors %} error{% endif %} {{ field.css_classes }}">
  {% endif %}
    {{ field.label_tag }}
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-inline">{{ error }}</span>
      {% endfor %}
    {% endif %}
    {% comment %}
    Escape help_text a second time here, to avoid an XSS issue in bootstrap.js.
    This can most likely be removed once we upgrade bootstrap.js past 2.0.2.
    Note: the spaces are necessary here.
    {% endcomment %}
    <span class="help-block">{% filter force_escape %} {{ field.help_text }} {% endfilter %} </span>
    <div class="input">
      {{ field }}
    </div>
  </div>
{% endfor %}

<div id="federation-network-extension" style="visibility: hidden">{{ request.session.federatedNetworkExtension }}</div>

<script src="../static/dashboard/js/jquery-1.12.0.min.js"></script> 
<script type="text/javascript">
(function() {

	var TIMEOUT_DEFAULT = 10000;
	var IMAGE_ENDPOINT_SUFIX = '/images';

  // FIXME: find another method. This value is used because the server; the server need to receive the value default. 
  var DEFAULT_VALUE = 'default';
	
	$(document).ready(function() {
    setValueOnImages();

    let federatedNetworkExtension = $('#federation-network-extension').text()
    console.log(federatedNetworkExtension);
    if (federatedNetworkExtension == 'False') {
      $(".control-group:has([for='id_federated_network_id'])").hide();
    }
  });
	
	function setValueOnImages() {
    var memberId = $('#id_members').val();
    var imageIdEl = $('#id_image');
		fetch(window.location.origin.concat('/fogbow/instance/'+  memberId + '/images'), { method: 'GET', credentials: 'include'})
      .then(res => {
        try {
          if (!res.ok) {
            throw Error(response.statusText);
          }

          res.json().then(body => {          
            imageIdEl.find('option').remove();

            imageIdEl.append($('<option>', { text: "Choose an image" , value: DEFAULT_VALUE, name: "" }));            
            for(let key in body) {              
              imageIdEl.append($('<option>', { text: body[key] , value: DEFAULT_VALUE, name: key }));            
            }
          })
        } catch(err) {
          console.error('There has been a problem with fill images: ' + error.message);
          imageIdEl.find('option').remove();
        }
        
      })
      .catch(function(error) {
        alert("Is not possible get images referring of the member: " + memberId);
        imageIdEl.find('option').remove();
        console.error('There has been a problem with your fetch operation: ' + error.message);
      });
	};
	
	$('#id_members').change(function() {
		setValueOnImages();
	});

  $('#id_image').change(function() {
    // FIXME The option select contains the image id, because the server fogbow-dashboard-core that needs the default value in value of the id_image elemente.
    let image_id = $('#id_image option:selected').attr('name')
    setImageId(image_id);    
	});  

  function setImageId(imageId) {
    $('#id_image_id').val(imageId);
  }
	
	$('#id_data_user').change(function() {
		var file = document.getElementById("id_data_user").files[0];		
		if (file) {
		    var reader = new FileReader();
		    reader.readAsText(file, "UTF-8");
		    reader.onload = function (evt) {
		    	$('#id_data_user_file').val(evt.target.result);
		    }
		    reader.onerror = function (evt) {
		    	$('#id_data_user_file').val('error');
		    }
		}
	});
	
})();
</script>