{% load i18n horizon humanize sizeformat %}

<div>
	<table style="margin-bottom: 40px;" class="table table-bordered table-striped datatable">
		<thead>
			<tr>
				<th style="padding: 5px 76px; padding-left:  5px; min-width: 160px;">Local</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Instance</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">vCPU</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">RAM</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Volume</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Storage</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">FIP</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Network</th>
			</tr>
		</thead>
		<tr>
			<td>Shared quota</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_compute">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_cpu">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_ram">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
		</tr>
		
		<tr>
			<td>Available quota</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="free_compute">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="free_cpu">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="free_ram">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
		</tr>
		
		<tr>
			<td>Quota used by me</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="my_compute">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="my_cpu"></td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="my_ram">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
		</tr>
	</table>

	<table style="margin-bottom: 40px;" class="table table-bordered table-striped datatable">
		<thead>
			<tr>
				<th style="padding: 5px 76px; padding-left:  5px; min-width: 160px;">Aggregated</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Instance</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">vCPU</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">RAM</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Volume</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Storage</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">FIP</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Network</th>
			</tr>
		</thead>
		<tr>
			<td>Shared quota</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="using_compute">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="using_vCPU">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="using_ram">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="using_volume">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="using_storage">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="using_fIPs">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="using_networks">-</td>
		</tr>
		
		<tr>
			<td>Available quota</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="available_compute">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="available_vCPU">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="available_ram">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="available_volume">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="available_storage">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="available_fIPs">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="available_networks">-</td>
		</tr>
		
		<tr>
			<td>Quota used by me</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_agg_compute">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_agg_vCPU"></td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_agg_ram">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_agg_volume">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_agg_storage">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_agg_fIPs">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="shared_agg_networks">-</td>
		</tr>
	</table>
	
	<table style="margin-bottom: 40px;" class="table table-bordered table-striped datatable">
		<thead>
			<tr>
				<th>
					<select id="member" style="min-width: 160px;">
						<option value="">Choose member</option>
					</select>
				</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Instance</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">vCPU</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">RAM</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Volume</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Storage</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">FIP</th>
				<th style="padding: 5px 76px; padding-right: 5px; text-align: right;">Network</th>
			</tr>
		</thead>
		<tr>
			<td>Shared quota</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="member_shared_instances">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="member_shared_vCPU">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="member_shared_ram">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
		</tr>
		
		<tr>
			<td>Available quota</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="member_total_instances">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="member_total_vCPU">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="member_total_ram">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
		</tr>
		
		<tr>
			<td>Quota used by me</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="member_his_instances">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="member_his_vCPU">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;" id="member_his_ram">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
			<td style="padding: 5px 76px; padding-right: 5px; text-align: right;">-</td>
		</tr>
	</table>
</div>

<div id="manager-xmpp-jid" style="visibility: hidden">{{ request.session.managerXmppJid }}</div>

<style>
	.same-line {
		float: left;
	}
	
	.red {
		color: red;
	}
	
	.button {
		background-color: #474747; 
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
	}
	
	.button-shadow {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	
</style>

<script src="../static/dashboard/js/jquery-1.12.0.min.js"></script> 
<script type="text/javascript">
	
	// TODO needs a refactor
	// TODO improve element names
	(function(){	
	
		var aggregatedTotalRam = 0;
		var aggregatedTotalVCPU = 0;
		var aggregatedTotalInstance = 0;
		var aggregatedAvailableRam = 0;
		var aggregatedAvailablelVCPU = 0;
		var aggregatedAvailablelInstance = 0;
		var aggregatedUsedByMeRam = 0;
		var aggregatedUsedByMeVCPU = 0;
		var aggregatedUsedByMeInstance = 0;		

		$(document).ready(function() {
			getMembers();
			// TODO use default member

			managerXmppJid = $('#manager-xmpp-jid').text();
			fillLocalQuotaTable(managerXmppJid);
		});

		// TODO refactor. Repeated code
		function fillMemberTable(memberId) {
			fetch(window.location.origin.concat('/fogbow/' + memberId + '/compute-quota'), { method: 'GET', credentials: 'include'})
			.then(res => {
				if (!res.ok) {
					throw Error(response.statusText);
				}

				res.json().then(body => {
					body_json = JSON.parse(body);
					$("#member_shared_instances").text(body_json.totalQuota.instances);
					$("#member_shared_vCPU").text(body_json.totalQuota.vCPU);
					$("#member_shared_ram").text(body_json.totalQuota.ram);

					$("#member_total_instances").text(body_json.availableQuota.instances);
					$("#member_total_vCPU").text(body_json.availableQuota.vCPU);
					$("#member_total_ram").text(body_json.availableQuota.ram);
				})
				
			})
			.catch(function(error) {
				alert('Is is not possible to get the quota of member: ' + memberId)
				console.log(error);
			});

			fetch(window.location.origin.concat('/fogbow/' + memberId + '/compute-allocation'), { method: 'GET', credentials: 'include'})
			.then(res => {
				if (!res.ok) {
					throw Error(response.statusText);
				}

				res.json().then(body => {
					body_json = JSON.parse(body)
					$("#member_his_instances").text(body_json.instances);
					$("#member_his_vCPU").text(body_json.vCPU);
					$("#member_his_ram").text(body_json.ram);
				})
				
			})
			.catch(function(error) {
				alert('Is is not possible to get the quota of member: ' + memberId);

				$("#member_shared_instances").text("-");
				$("#member_shared_vCPU").text("-");
				$("#member_shared_ram").text("-");

				$("#member_total_instances").text("-");
				$("#member_total_vCPU").text("-");
				$("#member_total_ram").text("-");

				$("#member_his_instances").text("-");
				$("#member_his_vCPU").text("-");
				$("#member_his_ram").text(body_json.ram);

				console.log(error);
			});						
		}

		// TODO Repeated code
		function fillLocalQuotaTable(memberId) {
			fetch(window.location.origin.concat('/fogbow/' + memberId + '/compute-quota'), { method: 'GET', credentials: 'include'})
			.then(res => {
				if (!res.ok) {
					throw Error(response.statusText);
				}

				res.json().then(body => {
					body_json = JSON.parse(body);
					$("#shared_compute").text(body_json.totalQuota.instances);
					$("#shared_cpu").text(body_json.totalQuota.vCPU);
					$("#shared_ram").text(body_json.totalQuota.ram);

					$("#free_compute").text(body_json.availableQuota.instances);
					$("#free_cpu").text(body_json.availableQuota.vCPU);
					$("#free_ram").text(body_json.availableQuota.ram);
				})
				
			})
			.catch(function(error) {
				alert('Is is not possible to get the quota of member: ' + memberId)
				console.log(error);
			});

			fetch(window.location.origin.concat('/fogbow/' + memberId + '/compute-allocation'), { method: 'GET', credentials: 'include'})
			.then(res => {
				if (!res.ok) {
					throw Error(response.statusText);
				}

				res.json().then(body => {
					body_json = JSON.parse(body)
					$("#my_compute").text(body_json.instances);
					$("#my_cpu").text(body_json.vCPU);
					$("#my_ram").text(body_json.ram);
				})
				
			})
			.catch(function(error) {
				alert('Is is not possible to get the quota of member: ' + memberId);

				$("#shared_compute").text("-");
				$("#shared_cpu").text("-");
				$("#shared_ram").text("-");

				$("#free_compute").text("-");
				$("#free_cpu").text("-");
				$("#free_ram").text("-");

				$("#my_compute").text("-");
				$("#my_cpu").text("-");
				$("#my_ram").text("-");

				console.log(error);
			});
		}
		
		// TODO Repeated code
		function fillAggreegateTable(memberId) {
			fetch(window.location.origin.concat('/fogbow/' + memberId + '/compute-quota'), { method: 'GET', credentials: 'include'})
			.then(res => {
				if (!res.ok) {
					throw Error(response.statusText);
				}

				res.json().then(body => {
					body_json = JSON.parse(body);
					aggregatedTotalInstance += parseInt(body_json.totalQuota.instances);
					aggregatedTotalVCPU += parseInt(body_json.totalQuota.vCPU);
					aggregatedTotalRam += parseInt(body_json.totalQuota.ram);

					aggregatedAvailablelInstance += parseInt(body_json.availableQuota.instances);
					aggregatedAvailablelVCPU += parseInt(body_json.availableQuota.vCPU);
					aggregatedAvailableRam += parseInt(body_json.availableQuota.ram);	

					$("#using_compute").text(aggregatedTotalInstance);
					$("#using_vCPU").text(aggregatedTotalVCPU);
					$("#using_ram").text(aggregatedTotalRam);

					$("#available_compute").text(aggregatedAvailablelInstance);
					$("#available_vCPU").text(aggregatedAvailablelVCPU);
					$("#available_ram").text(aggregatedAvailableRam);
				})
				
			})
			.catch(function(error) {
				alert('Is is not possible to get the quota of member: ' + memberId)
				console.log(error);
			});

			fetch(window.location.origin.concat('/fogbow/' + memberId + '/compute-allocation'), { method: 'GET', credentials: 'include'})
			.then(res => {
				if (!res.ok) {
					throw Error(response.statusText);
				}

				res.json().then(body => {
					body_json = JSON.parse(body);

					aggregatedUsedByMeRam = parseInt(body_json.instances);
					aggregatedUsedByMeVCPU = parseInt(body_json.vCPU);
					aggregatedUsedByMeInstance = parseInt(body_json.ram);

					$("#shared_agg_compute").text(aggregatedUsedByMeInstance);
					$("#shared_agg_vCPU").text(aggregatedUsedByMeVCPU);
					$("#shared_agg_ram").text(aggregatedUsedByMeRam);
				})
				
			})
			.catch(function(error) {
				console.log(error);
			});						
		}

		// TODO change local
		var members = []

		function getMembers() {
			//TODO Use constants
			const request = async () => {
				const response = await fetch(window.location.origin.concat('/fogbow/members'), { method: 'GET', credentials: 'include'})
				if (!response.ok) {
					throw Error(response.statusText);
				}

				const json = await response.json();
				json.forEach(element => {
					let member = element[0]
					members.push(member);
					$('select').append($('<option>', {							
						text: member
					}));
				});

				fillAgreegateTable();
			}
			request();
		}
		
		// TODO check
		function getAggregated() {
			fetch(window.location.origin.concat('/fogbow/aggregated'), { method: 'GET', credentials: 'include'})
			.then(res => {
				res.json().then(body => {
					fields = ['compute', 'vCPU', 'ram', 'volume', 'storage', 'fIPs', 'networks']
					for(let key in body) {
						$("#using_" + key).text(body[key].using);
						$("#available_" + key).text(body[key].total);
						$("#shared_agg_" + key).text(body[key].shared);
					}
				})
				
			})
		}

		function fillAgreegateTable() {
			for (i = 0; i < members.length; i++) { 
				let member = members[i];
				fillAggreegateTable(member);	
			}

		}

		$('#member').change(function(){
			let memberId = $('#member').val();
			if (!memberId){
				$('#member_shared_instances').text('-');
				$('#member_shared_vCPU').text('-');
				$('#member_shared_ram').text('-');
				$('#member_total_instances').text('-');
				$('#member_total_vCPU').text('-');
				$('#member_total_ram').text('-');
				$('#member_his_instances').text('-');
				$('#member_his_vCPU').text('-');
				$('#member_his_ram').text('-');
			}else {
				fillMemberTable(memberId);
			}
		});
		
	})();
</script>

<!-- Check if is necessary -->
<script id="worker" type="javascript/worker">
	self.onmessage = function(e) {
		var xhr = new XMLHttpRequest();
		var member = e.data.member;
		var url = e.data.url;
		var that = self;
		
		xhr.open('GET', e.data.url, false);
		xhr.timeout = 60000; // 60 seconds
		xhr.overrideMimeType('text/plain; charset=x-user-defined');		
		xhr.onreadystatechange = function(e) {
			var responseStr = ""
			if (this.readyState == 4 && this.status == 200) {
				responseStr = this.responseText;
			} else {				
				responseStr = "error";
			}
			that.postMessage({response: responseStr, member: member});
		};
		
		xhr.ontimeout = function (e) {
			that.postMessage({response: "error", member: member});
		};
		
		xhr.send();	
	};
</script> 	