{% load i18n horizon humanize sizeformat %}

<div class="quota-dynamic">
  <h3>{% trans "Information about orders" %}</h3>
    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ requestsFullfieldPercent }}" data-color="fogbow-color-green"></div>
     <strong>{% trans "Fulfilled orders" %} <br />
         {% blocktrans with used=requestsFullfield available=requestsTotal %}<span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
     </strong>
    </div>
    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ requestsSpawningPercent }}" data-color="fogbow-color-yellow"></div>
     <strong>{% trans "Spawning orders" %} <br />
         {% blocktrans with used=requestsSpawning available=requestsTotal %}<span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
     </strong>
    </div>    
    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ requestsOpenPercent }}" data-color="fogbow-color-blue"></div>
    <strong>{% trans "Open orders" %} <br />
     {% blocktrans with used=requestsOpen available=requestsTotal %}<span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
    </strong>
    </div>
    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ requestsPendingPercent }}" data-color="fogbow-color-red"></div>
    <strong>{% trans "Pending orders" %} <br />
     {% blocktrans with used=requestsPending available=requestsTotal %}<span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
    </strong>
    </div>        
    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ requestsClosedPercent }}" data-color="fogbow-color-gray"></div>
    <strong>{% trans "Closed orders" %} <br />
     {% blocktrans with used=requestsClosed available=requestsTotal %}<span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
    </strong>
    </div>
    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ requestsDeletedPercent }}" data-color="fogbow-color-orange"></div>
    <strong>{% trans "Deleted orders" %} <br />
     {% blocktrans with used=requestsDeleted available=requestsTotal %}<span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
    </strong>
    </div>        
</div>
