{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
{% if form.non_field_errors %}
  <div class="alert alert-message alert-error">
    {{ form.non_field_errors }}
  </div>
{% endif %}
{% for field in form.visible_fields %}
	
  {% if 'hidden' in field.label_tag %}
  <div class="control-group form-field clearfix{% if field.errors %} error{% endif %} {{ field.css_classes }}" style="visibility: hidden; display: none;">
  {% endif %}
  {% if 'hidden' not in field.label_tag %}
  <div class="control-group form-field clearfix{% if field.errors %} error{% endif %} {{ field.css_classes }}">
  {% endif %}
    {{ field.label_tag }}
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-inline">{{ error }}</span>
      {% endfor %}
    {% endif %}
    {% comment %}
    Escape help_text a second time here, to avoid an XSS issue in bootstrap.js.
    This can most likely be removed once we upgrade bootstrap.js past 2.0.2.
    Note: the spaces are necessary here.
    {% endcomment %}
    <span class="help-block">{% filter force_escape %} {{ field.help_text }} {% endfilter %} </span>
    <div class="input">
      {{ field }}
    </div>
  </div>
{% endfor %}

<script src="../static/dashboard/js/jquery-1.12.0.min.js"></script> 
<script type="text/javascript">
(function() {

	var TIMEOUT_DEFAULT = 10000;
	var IMAGE_ENDPOINT_SUFIX = '/images';
	
	$(document).ready(function() {});
	
	function setValueOnImages() {
    var member_id = $("#id_members").val();
		fetch(window.location.origin.concat('/fogbow/instance/'+  member_id + '/images'), { method: 'GET', credentials: 'include'})
      .then(res => {
        res.json().then(body => {
					$('#id_image')
						.find('option')
						.remove();

					for(let key in body) {
						$("#id_image").append($('<option>', {
								text: body[key]
						}));					
					}
        })
        
      })
	};
	
	$('#id_members').change(function() {
		setValueOnImages();
	});		
	
	$('#id_data_user').change(function() {
		var file = document.getElementById("id_data_user").files[0];		
		if (file) {
		    var reader = new FileReader();
		    reader.readAsText(file, "UTF-8");
		    reader.onload = function (evt) {
		    	$('#id_data_user_file').val(evt.target.result);
		    }
		    reader.onerror = function (evt) {
		    	$('#id_data_user_file').val('error');
		    }
		}
	});
	
})();
</script>