{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
{% if form.non_field_errors %}
  <div class="alert alert-message alert-error">
    {{ form.non_field_errors }}
  </div>
{% endif %}
<div>
	<div>
		<fieldset>
			<div class="control-group form-field clearfix ">
				<label>Type</label>
				<select class="dropdown-toggle" name="menu">
					<option value="0" selected>Token</option>
					<option value="1">OpenNebula</option>
					<option value="2">VOMS</option>
					<option value="2">Openstack</option>
					<option value="2">X509</option>
				</select>
			</div>			
			<hr>
			<div class="control-group form-field clearfix ">
				<label>Token</label>
				<span class="help-block"></span>
				<div class="input">
					<textarea name="token" type="text" cols="10"></textarea>
				</div>
			</div>					
		</fieldset>
	</div>
</div>